# Build artifacts
/forte
.task
bin/
frontend/.vite/
frontend/dist
frontend/node_modules
frontend/test-results

# Nix/direnv
.direnv/
.go/
result

# OS
.DS_Store

# Platform build artifacts
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
