# Build artifacts
/forte
.task
bin/
frontend/.vite/
frontend/dist
!frontend/dist/
frontend/dist/*
!frontend/dist/.gitkeep
frontend/node_modules
frontend/test-results

# Nix/direnv
.direnv/
.go/
result
.pre-commit-config.yaml

# OS
.DS_Store

# Platform build artifacts
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
